<div class="planet__logo__container">
    <img src="assets/images/LogoMakr-0QRoO5.png" alt="">
</div>
<button mat-flat-button routerLink="/mercury">Mercury</button>
<button mat-flat-button routerLink="/venus">Venus</button>
<button mat-flat-button routerLink="/earth">Earth</button>
<button mat-flat-button routerLink="/mars">Mars</button>
<button mat-flat-button routerLink="/jupiter">Jupiter</button>
<button mat-flat-button routerLink="/saturn">Saturn</button>
<button mat-flat-button routerLink="/uranus">Uranus</button>
<button mat-flat-button routerLink="/neptune">Neptune</button>
<div class="planet__credits__container">
    <p>Made with 💙 by Ralph Martin Flores</p>
</div>
