.mat-flat-button {
    width: 100%;
    min-height: 3rem;
    height: 3rem;
    border-radius: 0 1.563rem 1.563rem 0;
    color: #FFF;
    background-color: transparent;
}
.active {
    background-color: #202038;
}
.planet__logo__container {
    text-align: center;
    padding: 1.5rem 0;
}
.planet__credits__container {
    text-align: center;
    padding: 1.5rem;
    p {
        font-size: 0.75em;
        color: rgb(255, 255, 255, 0.5);
    }
}